.order-card{
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 30%;
    box-shadow: 2px 2px 4px 2px rgba(128, 128, 128, 0.597);
    font-weight: bold;
}

/* css media query for responsiveness */

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .order-card{
        width: 45%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .order-card{
    width: 90%;
    }
}