.products-container{
    width: 100%;
    margin: 0;
    justify-content: space-between;
}
.yellow-text{
    color: #FFCB05;
}

.spinner-section{
    text-align: center;
}

.spinner{
    width: 50px;
    height: 50px;
}

/* pagination section */

.pagination button {
    margin: 0 20px;
    border: 1px solid gray;
    border-radius: 2px;
}

.pagination .selected {
    background-color: yellow;
}

/* css media query for responsiveness */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .products-container{
        justify-content: center;
    }
    .spinner{
        width: 25px;
        height: 25px;
    }
}