.review-section{
    width: 80%;
    margin: 20px auto;
}
.cam-pavilion-form{
    box-shadow: 2px 2px 4px 2px rgba(128, 128, 128, 0.164);
    padding: 20px;
}

/* css media query for responsiveness */

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .review-section{
        width: 90%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .review-section{
    width: 90%;
    }
}