.moreProductCard{
    box-shadow: 1px 1px 4px 1px grey;
    padding: 10px;
    border-radius: 5px;
}
.moreProductCard img{
    width: 50%;
    display: block;
    margin: 0 auto;
}
.moreProductCard h6,p{
    text-align: justify;
    font-size: 12px;
}