.product-card{
    box-shadow: 1px 1px 4px 1px grey;
    border-radius: 5px;
    width: 32%;
    padding: 10px;
}
.product-card img{
    width: 50%;
}
.product-card h6,p{
    text-align: justify;
    font-size: 12px;
}

/* css media query for responsiveness */

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .product-card{
        width: 45%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .product-card{
    width: 90%;
    }
}