.product-card{
    box-shadow: 1px 1px 4px 1px grey;
    padding: 10px;
    border-radius: 5px;
}
.product-card img{
    width: 50%;
}
.product-card h6,p{
    text-align: justify;
    font-size: 12px;
}