.about-us-section{
    width: 80%;
}
.about-us-container{
   width: 100%;
}
.ceo-img{
    width: 40%;
}
.ceo-speech{
    width: 40%;
}



/* css media query for responsiveness */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .about-us-section{
        width: 90%;
    }
    .about-us-container{
        flex-direction: column;
    }
    .about-us-container p{
        text-align: justify;
    }
    .ceo-img{
        width: 100%;
    }
    .ceo-speech{
        width: 100%;
    }
}