#nav-dropdown{
    color: #FFCB05 !important;
}
.nav-link{
    margin-left: 5px;
}
.yellow-text{
    color: #FFCB05;
}
.common-button{
    background-color: white;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 5px;
}
.common-button:hover{
    background-color: black;
    color: white;
}