.register-form-container{
    width: 80%;
}
.text-input{
    display: block;
    width: 100%;
    margin: 10px 0px;
}
.common-button{
    background-color: white;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 5px;
}
.common-button:hover{
    background-color: black;
    color: white;
}